.services-submenu {
  /* width: 110rem; */
  position: absolute;
  top: 38px;
  list-style: none;
  text-align: start;
}

.services-submenu li {
  background: rgb(0, 212, 212);
  cursor: pointer;
}

.services-submenu li a:hover {
  transition: 0.1s ease-out;
  background: rgb(0, 175, 175);
}


.submenu-item {
  text-decoration: none;
  color: white;
}